body {
    background-color: #2F2F2F;
}

.z-label {
    color: rgba(255, 255, 255, 0.9);
}

.label-color {
    color: rgba(255, 255, 255, 0.9);
}

.z-listitem .z-listcell {
    color: rgba(255, 255, 255, 0.9);
    background: #2F2F2F;
}

.z-listheader-content, .z-listcell-content, .z-listgroup-content, .z-listgroupfoot-content, .z-listfooter-content {
    color: rgba(255, 255, 255, 0.9);
}

.z-paging {
    background: #404040;
}

.z-paging-text {
    color: rgba(255, 255, 255, 0.9);
}

.z-paging-input {
    color: rgba(255, 255, 255, 0.9);
    background: #262626;
}

.z-paging-button {
    color: rgba(255, 255, 255, 0.9);
}

.z-paging-button[disabled] {
    color: rgba(255, 255, 255, 0.9);
}

.z-paging-info {
    color: rgba(255, 255, 255, 0.9);
}

.z-listitem.z-listitem-selected>.z-listcell>.z-listcell-content {
    color: rgba(0, 0, 0, 0.9);
}

.sc2stats-title-label {
    margin-left: 5px;
    font-size:22pt;
    margin-top: 10px;
}